{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings {{ pretitle }}</h2>
        <div class ="container-fluid">
                {% for item in object_list %}
                    <div class = "card flex-row flex-wrap mx-1">
                        <div class="card-header border-0 col-4 p-2">
                            <img class="card-img" src="{{ item.image }}" alt="No Image on Database" size>
                        </div>
                        <div class="card-block col-6 p-2">
                            <h4 class="card-title">{{ item.title }}</h4>
                            <p class="card-text">Description: {{ item.description }}</p>
                        </div>
                        <div class="card-block col-2 p-2">
                            <p class="font-weight-bold text-center"> ${% firstof  item.current_price|floatformat:"2" item.price %}</p>
                            <a href="{% url 'listing_detail' item.id %}" class="btn btn-primary btn-block">View Listing</a>
                        </div>
                    </div>
                    <br>
                {% endfor %}
        </div>
{% endblock %}