{% extends "network/layout.html" %}

{% block body %}
<div class='row text-center'>
    <div class='col'>
        <h3>Welcome to Network</h3>
    </div>
</div>

{% if request.user.is_authenticated %}   
<div class='row mb-3'>
    <div class='col-10 mx-auto'>
        <form class='form' id='post-create-form' method='POST' action ="{% url 'post-create' %}">
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='post-create-form-error'></div>
            <input type='hidden' value="{% url 'index' %}" name='next' />
            <textarea required='required' class='form-control my-2' name='content' placeholder='Write Something...'></textarea>
            <button type='submit' class='btn btn-primary btn-sm'>Post</button>
        </form>
    </div>
</div>
{% endif %}

{% include './feed.html %}

{% endblock %}
